@media (max-width:768px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 375px
  }
  .style11,
  .style14 {
    font-family: dejavusans,serif
  }
  .style11 {
    color: rgba(0,0,0,.87);
    font-size: .3125em;
    margin-left: 73px;
    margin-top: 3px;
    height: 4px
  }
  .style14 {
    color: #fff;
    font-size: .25em;
    margin-left: 5px;
    margin-top: 0;
    height: 3px
  }
  .web19201row2 {
    display: flex;
    margin-left: 73px;
    margin-top: 3px;
    width: 72px;
    height: 3px;
    align-items: stretch
  }
  .style12 {
    color: rgba(26,115,232,.87);
    font-size: .1875em;
    margin-left: 0
  }
  .style12,
  .style13,
  .style15,
  .style16 {
    font-family: dejavusans,serif
  }
  .style13 {
    color: rgba(0,0,0,.6);
    font-size: .1875em;
    margin-left: 7px
  }
  .style15,
  .style16 {
    color: #fff;
    font-size: .25em;
    margin-left: 5px;
    margin-top: 11px;
    height: 3px
  }
  .style16 {
    margin-left: 7px;
    margin-top: 3px
  }
  .style17,
  .web19201row5 {
    position: relative;
    height: 4px
  }
  .web19201row5 {
    display: flex;
    width: 159px;
    margin-left: 7px;
    margin-top: 3px
  }
  .style17 {
    color: rgba(255,255,255,.4);
    font-family: dejavusans,serif;
    font-size: .25em;
    margin-left: 0;
    margin-top: 2px;
    flex-shrink: 0
  }
  .style0 {
    color: rgba(0,0,0,.87);
    font-size: .3125em;
    margin-left: 70px;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style0,
  .style1,
  .style18 {
    font-family: dejavusans,serif
  }
  .style1 {
    color: rgba(0,0,0,.6);
    align-self: center;
    flex-shrink: 0;
    font-size: .1875em;
    margin-left: 4px;
    height: 2px
  }
  .style18 {
    color: #fff;
    font-size: .25em;
    margin-left: 7px;
    margin-top: 5px;
    height: 3px
  }
  .style10,
  .style2,
  .style3,
  .style4,
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    color: rgba(0,0,0,.87);
    font-family: dejavusans,serif;
    font-size: .25em;
    margin-left: 115px;
    margin-top: 2px;
    height: 3px
  }
  .style10,
  .style2,
  .style4,
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    margin-top: 5px
  }
  .style2,
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    font-size: .3125em;
    margin-left: 108px;
    margin-top: 20px;
    height: 4px
  }
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    font-size: .25em;
    margin-left: 115px;
    margin-top: 11px;
    height: 3px
  }
  .style6,
  .style7,
  .style8,
  .style9 {
    margin-top: 5px
  }
  .style7,
  .style8,
  .style9 {
    font-size: .3125em;
    margin-left: 108px;
    margin-top: 17px;
    height: 4px
  }
  .style8,
  .style9 {
    font-size: .25em;
    margin-left: 115px;
    margin-top: 11px;
    height: 3px
  }
  .style9 {
    margin-top: 5px
  }
}
@media (min-width:768px) and (max-width:920px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 768px
  }
  .style11,
  .style14 {
    font-family: dejavusans,serif
  }
  .style11 {
    color: rgba(0,0,0,.87);
    font-size: .64em;
    margin-left: 150px;
    margin-top: 6px;
    height: 8px
  }
  .style14 {
    color: #fff;
    font-size: .512em;
    margin-left: 10px;
    margin-top: 0;
    height: 6px
  }
  .web19201row2 {
    display: flex;
    margin-left: 150px;
    margin-top: 6px;
    width: 147px;
    height: 6px;
    align-items: stretch
  }
  .style12 {
    color: rgba(26,115,232,.87);
    font-size: .384em;
    margin-left: 0
  }
  .style12,
  .style13,
  .style15,
  .style16 {
    font-family: dejavusans,serif
  }
  .style13 {
    color: rgba(0,0,0,.6);
    font-size: .384em;
    margin-left: 14px
  }
  .style15,
  .style16 {
    color: #fff;
    font-size: .512em;
    margin-left: 10px;
    margin-top: 23px;
    height: 6px
  }
  .style16 {
    margin-left: 14px;
    margin-top: 6px
  }
  .style17,
  .web19201row5 {
    position: relative;
    height: 8px
  }
  .web19201row5 {
    display: flex;
    width: 326px;
    margin-left: 14px;
    margin-top: 6px
  }
  .style17 {
    color: rgba(255,255,255,.4);
    font-family: dejavusans,serif;
    font-size: .512em;
    margin-left: 0;
    margin-top: 4px;
    flex-shrink: 0
  }
  .style0 {
    color: rgba(0,0,0,.87);
    font-size: .64em;
    margin-left: 143px;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style0,
  .style1,
  .style18 {
    font-family: dejavusans,serif
  }
  .style1 {
    color: rgba(0,0,0,.6);
    align-self: center;
    flex-shrink: 0;
    font-size: .384em;
    margin-left: 8px;
    height: 4px
  }
  .style18 {
    color: #fff;
    font-size: .512em;
    margin-left: 14px;
    margin-top: 10px;
    height: 6px
  }
  .style10,
  .style2,
  .style3,
  .style4,
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    color: rgba(0,0,0,.87);
    font-family: dejavusans,serif;
    font-size: .512em;
    margin-left: 236px;
    margin-top: 4px;
    height: 6px
  }
  .style10,
  .style2,
  .style4,
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    margin-top: 10px
  }
  .style2,
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    font-size: .64em;
    margin-left: 221px;
    margin-top: 41px;
    height: 8px
  }
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    font-size: .512em;
    margin-left: 236px;
    margin-top: 23px;
    height: 6px
  }
  .style6,
  .style7,
  .style8,
  .style9 {
    margin-top: 10px
  }
  .style7,
  .style8,
  .style9 {
    font-size: .64em;
    margin-left: 221px;
    margin-top: 35px;
    height: 8px
  }
  .style8,
  .style9 {
    font-size: .512em;
    margin-left: 236px;
    margin-top: 23px;
    height: 6px
  }
  .style9 {
    margin-top: 10px
  }
}
@media (min-width:920px) and (max-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 920px
  }
  .style11,
  .style14 {
    font-family: dejavusans,serif
  }
  .style11 {
    color: rgba(0,0,0,.87);
    font-size: .7666666666666666em;
    margin-left: 179px;
    margin-top: 7px;
    height: 10px
  }
  .style14 {
    color: #fff;
    font-size: .6133333333333333em;
    margin-left: 12px;
    margin-top: 0;
    height: 7px
  }
  .web19201row2 {
    display: flex;
    margin-left: 179px;
    margin-top: 7px;
    width: 177px;
    height: 7px;
    align-items: stretch
  }
  .style12 {
    color: rgba(26,115,232,.87);
    font-size: .45999999999999996em;
    margin-left: 0
  }
  .style12,
  .style13,
  .style15,
  .style16 {
    font-family: dejavusans,serif
  }
  .style13 {
    color: rgba(0,0,0,.6);
    font-size: .45999999999999996em;
    margin-left: 17px
  }
  .style15,
  .style16 {
    color: #fff;
    font-size: .6133333333333333em;
    margin-left: 12px;
    margin-top: 27px;
    height: 7px
  }
  .style16 {
    margin-left: 17px;
    margin-top: 7px
  }
  .style17,
  .web19201row5 {
    position: relative;
    height: 10px
  }
  .web19201row5 {
    display: flex;
    width: 390px;
    margin-left: 17px;
    margin-top: 7px
  }
  .style17 {
    color: rgba(255,255,255,.4);
    font-family: dejavusans,serif;
    font-size: .6133333333333333em;
    margin-left: 0;
    margin-top: 5px;
    flex-shrink: 0
  }
  .style0 {
    color: rgba(0,0,0,.87);
    font-size: .7666666666666666em;
    margin-left: 172px;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style0,
  .style1,
  .style18 {
    font-family: dejavusans,serif
  }
  .style1 {
    color: rgba(0,0,0,.6);
    align-self: center;
    flex-shrink: 0;
    font-size: .45999999999999996em;
    margin-left: 10px;
    height: 5px
  }
  .style18 {
    color: #fff;
    font-size: .6133333333333333em;
    margin-left: 17px;
    margin-top: 12px;
    height: 7px
  }
  .style10,
  .style2,
  .style3,
  .style4,
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    color: rgba(0,0,0,.87);
    font-family: dejavusans,serif;
    font-size: .6133333333333333em;
    margin-left: 282px;
    margin-top: 5px;
    height: 7px
  }
  .style10,
  .style2,
  .style4,
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    margin-top: 12px
  }
  .style2,
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    font-size: .7666666666666666em;
    margin-left: 265px;
    margin-top: 49px;
    height: 10px
  }
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    font-size: .6133333333333333em;
    margin-left: 282px;
    margin-top: 27px;
    height: 7px
  }
  .style6,
  .style7,
  .style8,
  .style9 {
    margin-top: 12px
  }
  .style7,
  .style8,
  .style9 {
    font-size: .7666666666666666em;
    margin-left: 265px;
    margin-top: 42px;
    height: 10px
  }
  .style8,
  .style9 {
    font-size: .6133333333333333em;
    margin-left: 282px;
    margin-top: 27px;
    height: 7px
  }
  .style9 {
    margin-top: 12px
  }
}
@media (min-width:1200px) {
  .main-wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 1200px
  }
  .style11,
  .style14 {
    font-family: dejavusans,serif
  }
  .style11 {
    color: rgba(0,0,0,.87);
    font-size: 1em;
    margin-left: 234px;
    margin-top: 10px;
    height: 13px
  }
  .style14 {
    color: #fff;
    font-size: .8em;
    margin-left: 16px;
    margin-top: 0;
    height: 10px
  }
  .web19201row2 {
    display: flex;
    margin-left: 234px;
    margin-top: 10px;
    width: 230px;
    height: 10px;
    align-items: stretch
  }
  .style12 {
    color: rgba(26,115,232,.87);
    font-size: .6000000000000001em;
    margin-left: 0
  }
  .style12,
  .style13,
  .style15,
  .style16 {
    font-family: dejavusans,serif
  }
  .style13 {
    color: rgba(0,0,0,.6);
    font-size: .6000000000000001em;
    margin-left: 22px
  }
  .style15,
  .style16 {
    color: #fff;
    font-size: .8em;
    margin-left: 16px;
    margin-top: 35px;
    height: 10px
  }
  .style16 {
    margin-left: 22px;
    margin-top: 10px
  }
  .style17,
  .web19201row5 {
    position: relative;
    height: 13px
  }
  .web19201row5 {
    display: flex;
    width: 509px;
    margin-left: 22px;
    margin-top: 10px
  }
  .style17 {
    color: rgba(255,255,255,.4);
    font-family: dejavusans,serif;
    font-size: .8em;
    margin-left: 0;
    margin-top: 6px;
    flex-shrink: 0
  }
  .style0 {
    color: rgba(0,0,0,.87);
    font-size: 1em;
    margin-left: 224px;
    height: 100%;
    align-self: stretch;
    flex-shrink: 0
  }
  .style0,
  .style1,
  .style18 {
    font-family: dejavusans,serif
  }
  .style1 {
    color: rgba(0,0,0,.6);
    align-self: center;
    flex-shrink: 0;
    font-size: .6000000000000001em;
    margin-left: 13px;
    height: 6px
  }
  .style18 {
    color: #fff;
    font-size: .8em;
    margin-left: 22px;
    margin-top: 16px;
    height: 10px
  }
  .style10,
  .style2,
  .style3,
  .style4,
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    color: rgba(0,0,0,.87);
    font-family: dejavusans,serif;
    font-size: .8em;
    margin-left: 368px;
    margin-top: 6px;
    height: 10px
  }
  .style10,
  .style2,
  .style4,
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    margin-top: 16px
  }
  .style2,
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    font-size: 1em;
    margin-left: 346px;
    margin-top: 64px;
    height: 13px
  }
  .style5,
  .style6,
  .style7,
  .style8,
  .style9 {
    font-size: .8em;
    margin-left: 368px;
    margin-top: 35px;
    height: 10px
  }
  .style6,
  .style7,
  .style8,
  .style9 {
    margin-top: 16px
  }
  .style7,
  .style8,
  .style9 {
    font-size: 1em;
    margin-left: 346px;
    margin-top: 54px;
    height: 13px
  }
  .style8,
  .style9 {
    font-size: .8em;
    margin-left: 368px;
    margin-top: 35px;
    height: 10px
  }
  .style9 {
    margin-top: 16px
  }
}